/* PHASE 2: Notifications */

.badge {
  border-radius: 50%;
  background-color: #000;
  padding: 1px 6px;
  font-size: 14px;
}


.notification {
  position: relative;
}

.notifications {
  background-color: #fff;
  position: absolute;
  padding: 0px;
  left: -1px;
  display: none;
}

.notification:hover .notifications {
  background-color: #fff;
  display: block;
}

.notifications > li {
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  white-space: nowrap;
  padding:12px 20px ;
}

.notifications > li:hover {
  background-color: #ccc;
}

.notifications > li:hover .header-list {
  background-color: #000;
}

#last-notification {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
