/* PHASE 3: Layout */

body {
  background-color: #eee;
}

.content {
  position: relative;
  width: 900px;
  min-height: 440px;
  background-color: #fff;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-top: none;
}

.content::before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  left: 240px;
  top: 0;
  bottom: 0;
  background-color: #ccc;
  z-index: 1;
}

.content-sidebar {
  width: 200px;
  min-height: 200px;
  top: 200px;
  float: left;
  padding: 20px;
}

.content-main {
  width: 620px;
  min-height: 200px;
  float: left;
  padding: 20px;
}
